
.about-me{
    height: 100vh;
}

.about-me h2{
    font-size: 5rem;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2) ;
    text-align: left;
    margin-top: 10%;
    margin-left: 2rem;
    padding: 5rem 20rem;
}

.about-me p,ul{
    color: #fff;
    font-size: medium;
    padding: 0.5rem 15rem;
}