.code-body{
    min-height: 110vh;
}

.codes-footer{
    padding-top: 2rem;
    background: transparent;
    text-align: center;
    clear: left;
}

.code-heading{
    font-family: monospace;
    font-size: 5rem;
    color: #676767;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2) ;
    text-align: center;
    text-decoration: underline;
    margin-top: 10%;
    margin-left: 2rem;
    padding-top: 5rem;
    cursor: default;
}

.code-subheading{
    color: #f9f9f9;
    text-align: center;
    padding: 2rem;
    font-size: large;
}

.code-box{
    background: transparent;
    padding: 1rem;
    border-radius: 0.5rem;
}

.code-box h2{
    font-family: monospace;
    color: #a2a2a2;
}

.code-box p{
    padding-top: 3rem;
    font-family: monospace;
    font-size: large;
    width: 40rem;
    height: 12rem;
    color: aliceblue;
}

.code-box a{
    color: aqua;
}
.code-box img{
    height: 20rem;
    width: 20rem;
    padding: 2rem;

}

.left{
    float: left;
    padding-left: 15rem;
}

.right{
    float: right;
    padding-right: 15rem;
}

.code-description{
    padding: 2rem;
}
